server {

        # server_name example.com;
        # access_log /var/log/nginx/coinbasecandle.access_log;
        # error_log /var/log/nginx/coinbasecandle.error_log;

        location / {
            root /var/www/;
            try_files $uri $uri/candlestick.html @api;
        }

        location @api {
            proxy_buffering off;
            proxy_ssl_session_reuse off;
            proxy_set_header Host coinbase.com;
            proxy_ignore_headers X-Accel-Expires Expires Cache-Control Set-Cookie;
            proxy_pass  https://coinbase.com;
        }

}

